<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Listing Publisher</title>

        <!-- CSS-->
        <link rel="stylesheet" href="../public/css/style.css" />
        <link rel="stylesheet" href="../public/css/bootstrap.css" />


    </head>
<body>

    <div class="jumbotron text-center">
        <h1>Successfully completed task!</h1>
        <p>Press button below to go back</p> 
        <a href="{{ url_for('index')}}">
            <button type="button" class="btn btn-primary">         
                <!-- <span style='font-size:20px;'>&#128268;</span> -->
                     Go Back
            </button>
        </a>
      </div>



</body>
</html>