<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Listing Publisher</title>

        <!-- CSS-->
        <link rel="stylesheet" href="../public/css/style.css" />
        <link rel="stylesheet" href="../public/css/bootstrap.css" />


    </head>
<body>

    <div class="jumbotron text-center">
        <h1>Successfully completed task!</h1>
        <p>Press button below to go back</p> 
        <a href="{{ url_for('index')}}">
            <button type="button" class="btn btn-primary">         
                <!-- <span style='font-size:20px;'>&#128268;</span> -->
                     Go Back
            </button>
        </a>
      </div>

      <script>
        function notifyMe() {
        if (Notification.permission !== 'granted')
        Notification.requestPermission();
        else {
        var notification = new Notification('Notification title', {
        icon: 'https://i.etsystatic.com/isla/33bf50/61480050/isla_500x500.61480050_hhojfr3u.jpg?version=0',
        body: 'Hey there! Your SnugPrinted Action has been completed!',
        });
        notification.onclick = function() {
        window.open('http://localhost:3003/');
        };
        }
        }

        // request permission on page load
        document.addEventListener('DOMContentLoaded', function() {
        if (!Notification) {
        alert('Desktop notifications not available in your browser. Try Chromium.');
        return;
        }

        if (Notification.permission !== 'granted')
        Notification.requestPermission();
        
        notifyMe() 
        });

      </script>


</body>
</html>