<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Listing Publisher</title>

        <!-- CSS-->
        <link rel="stylesheet" href="../public/css/style.css" />
        <link rel="stylesheet" href="../public/css/bootstrap.css" />


    </head>
<body>

    <div class="jumbotron text-center">
        <h1>Preview Images</h1>
        <p>Here are the generated images. Close when done</p> 
        <a href="#" onclick="window.close()">
            <button type="button" class="btn btn-primary">         
                <!-- <span style='font-size:20px;'>&#128268;</span> -->
                     Close
            </button>
        </a>
      </div>

      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-center text-capitalize">
                <img src="../designs/1.png" style="width:100%;">
            </div>

            <div class="col-sm-4 text-center text-capitalize">
                <img src="../designs/2.png" style="width:100%;">
            </div>

            <div class="col-sm-4 text-center text-capitalize">
                <img src="../designs/3.png" style="width:100%;">
            </div>

            <div class="col-sm-4 text-center text-capitalize">
                <img src="../designs/4.png" style="width:100%;">
            </div>

            <div class="col-sm-4 text-center text-capitalize">
                <img src="../designs/5.png" style="width:100%;">
            </div>
        </div>
</body>
</html>