<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Listing Publisher</title>

        <!-- CSS-->
        <link rel="stylesheet" href="../public/css/style.css" />
        <link rel="stylesheet" href="../public/css/bootstrap.css" />


    </head>
<body>

    <div style="display:none;" id="loaderDiv" class="animate-bottom">
        <div id="loader"></div>
      </div>

    <div class="jumbotron text-center">
        <h1>Welcome to Listing Publisher {{name}} </h1>
        <p>Please Authenticate to begin using this app</p> 
        <a href={{auth_link}}>
            <button type="button" class="btn btn-primary">         
                <!-- <span style='font-size:20px;'>&#128268;</span> -->
                     Authenticate
            </button>
        </a>
        <a target="_blank" href="https://www.etsy.com/your/shops/me/dashboard?ref=hdr-mcpa">
            <button type="button" class="btn btn-primary">         
                <!-- <span style='font-size:20px;'>&#128268;</span> -->
                     Etsy Dashboard
            </button>
        </a>
        <a target="_blank" href="https://www.etsy.com/shop/SnugPrintedTees?ref=seller-platform-mcnav">
            <button type="button" class="btn btn-primary">         
                <!-- <span style='font-size:20px;'>&#128268;</span> -->
                     Etsy Store
            </button>
        </a>
      </div>


      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-center text-capitalize" style="background-color:lavender;">
                <h4>Current Design:</h4>
                    <p>{{design_line1}}</p>
                    <p>{{design_line2}}</p>
                    <p>{{design_line3}}</p>
                    <p>{{design_line4}}</p>
                    <br>
                    <a href="{{ url_for('generate_designs')}}">
                        <button type="button" onclick="showLoader()" class="btn btn-primary loading-link">         
                            <!-- <span style='font-size:20px;'>&#128268;</span> -->
                                Generate Designs
                        </button>
                    </a>
                    <br>
                    <a href="{{ url_for('generate_mockups')}}">
                        <button type="button" onclick="showLoader()" class="btn btn-primary loading-link">         
                            <!-- <span style='font-size:20px;'>&#128268;</span> -->
                                Generate Mockups
                        </button>
                    </a>
                    <br>
                    <a href="{{ url_for('get_listing_inventory')}}">
                        <button type="button" onclick="showLoader()" class="btn btn-primary loading-link">         
                            <!-- <span style='font-size:20px;'>&#128268;</span> -->
                                Publish Everything
                        </button>
                    </a>
                </div>
            <div class="col-sm-8 text-center" style="background-color:lavenderblush;">
                <form action="{{ url_for('read_form')}}" method="post"> 
                    <label for="line1" class="form-label">Design</label> 
                    <input name="design_line1" class="form-control" id="line1" value="{{design_line1}}"> 
                    <input name="design_line2" class="form-control" id="line2" value="{{design_line2}}"> 
                    <input name="design_line3" class="form-control" id="line3" value="{{design_line3}}"> 
                    <input name="design_line4" class="form-control" id="line4" value="{{design_line4}}"> 

                    <label for="title" class="form-label">Title,Tags & Section</label> 
                    <input name="title" class="form-control" id="title" value="{{title}}"> 
                    <input name="tags" class="form-control" id="tags" value="{{tags}}"> 

                    <select name="productType" id="productType">
                        <option value="{{productType}}" selected>{{productType}}</option>
                        <option value="shirts">shirts</option>
                        <option value="sweatshirts">sweatshirts</option>
                    </select>


                    <select name="section" id="section">
                        <option value="{{section}}" selected>{{section}}</option>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>

                    <button type="submit" onclick="showLoader()" class="btn btn-primary">Save</button> 
                </form> 
            </div>
        </div>
      </div>
    
      <script>
        function showLoader() {
        document.getElementById("loaderDiv").style.display = "block";
        }
      </script>
   
</body>
</html>