body{
    padding:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.text-center{
    /* margin:20px; */
    padding:10px;
    border-radius:20px;
    border:10px solid white;
}
a{
  margin:1% !important;
}

.preview{
  position:relative;
  width: 18%;
  margin: 0.5%;
  border-radius:10px;
  background-color:black;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #3498db;
    border-radius: 50%;
    border-top: 16px solid #e5b5f8;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  
  #loaderDiv {
    position:absolute;
    bottom:0%;
    left:0%;
    display: none;
    text-align: center;
    width:100%;
    height:100%;
    background:#e5b5f8;
    z-index:10;
  }
  
  