body{
    padding:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.text-center{
    /* margin:20px; */
    padding:10px;
    border-radius:20px;
    border:10px solid white;
}
